<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INFORMATIC 23</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/png" href="../../design/assets/logo.png">
</head>

<body class="bg-dots">

  <!-- Navbar -->
  <nav class="z-[99] bg-[#020726] fixed w-full text-white px-6 py-2">
    <div class="w-10 h-10">
      <img class="rounded-full" src="../../design/assets/logo.png" alt="Logo" />
    </div>
  </nav>


  <!-- Hero -->
  <section class="relative flex h-[100vh] justify-center">
    <div class="w-full relative">
      <div class="bg-black h-[360px] w-full">
        <div
          class="blur-[3px] z-[0] bg-[url('https://cdn.discordapp.com/attachments/1122888544332042371/1122889190871408650/xasejs.png')] bg-cover bg-no-repeat w-full h-full">

        </div>
      </div>
      <div class="flex items-center justify-center absolute top-0 w-full h-full">
        <div
          class="w-[80%] bg-[#010417]/70 flex items-center justify-center text-white h-[50%] relative before:absolute before:border before:w-full before:h-full before:left-[15px] before:bottom-[15px] before:border-[#ff7d3b] text-center">
          <div>
            <h2 class="title-text text-6xl italic font-extrabold">INFORMATIC ENGINEERING</h2>
            <p class="text-center mt-4 font-extrabold text-xl">Est. 2020</p>
          </div>
        </div>
      </div>
      <div class="z-[99] absolute bottom-20 right-20 text-right">
        <h4 class="font-bold">"Thank you ya"</h4>
        <h5 class="font-semibold">-Ridho</h5>
      </div>
    </div>
  </section>

  <!-- Name This Section-->
  <section class="relative bg-white flex pt-10 pb-20 justify-center items-center text-center">
    <div class="w-full relative">
      <div class="text-center justify-center font-bold">
        <h2 class="text-3xl">MEET THE</h2>
        <p class="text-6xl">TEACHER</p>
      </div>
          <div class="flex flex-wrap justify-center items-center w-full top-9 mt-20">
            <%for(let i = 0; i < guruData.length; i++) {%>
              <!-- <%-guruData[i].foto%> -->
              <div class="border border-gray-500 my-9 mx-9 w-[165px]">
                <div class="h-[215px]">
              <img src="<%- guruData[i].foto %>" class="w-full h-full"/>
                </div>
              <p class=""><%- guruData[i].jabatan %></p>
              <h6><%- guruData[i].nama %></h6>
              </div>
              <%}%>
          </div>
      </div>
    <!-- Jer tolong kotaknya di susun di tengah ya-->
    <!-- done bang -->
  </section>
  <!-- Name This End Section-->

</body>
<style>
  .bg-dots {
    background-image: radial-gradient(#bebdbd 20%, white 20%);
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-size: 10px 10px;
  }
  .title-text {
    text-shadow: 1px -2px 0px rgb(152, 211, 238), 1px 2px 0px #7289da;
  }
</style>

</html>