<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INFORMATIC 23</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/png" href="../../design/assets/logo.png">
</head>

<body class="bg-dots">

  <!-- Navbar -->
  <nav class="z-[99] bg-[#020726] fixed w-full text-white px-6 py-2">
    <div class="w-10 h-10">
      <img class="rounded-full" src="../../design/assets/logo.png" alt="Logo" />
    </div>
  </nav>


  <!-- Hero -->
  <section class="relative flex h-[100vh] justify-center">
    <div class="w-full relative">
      <div class="bg-black h-[360px] w-full">
        <div
          class="blur-[3px] z-[0] bg-[url('https://cdn.discordapp.com/attachments/1122888544332042371/1122889190871408650/xasejs.png')] bg-cover bg-no-repeat w-full h-full">

        </div>
      </div>
      <div class="flex items-center justify-center absolute top-0 w-full h-full">
        <div
          class="w-[80%] bg-[#010417]/70 flex items-center justify-center text-white h-[50%] relative before:absolute before:border before:w-full before:h-full before:left-[15px] before:bottom-[15px] before:border-[#ff7d3b] text-center">
          <div>
            <h2 class="title-text text-6xl italic font-extrabold">INFORMATIC ENGINEERING</h2>
            <p class="text-center mt-4 font-extrabold text-xl">Est. 2020</p>
          </div>
        </div>
      </div>
      <div class="z-[99] absolute bottom-20 right-20 text-right">
        <h4 class="font-bold">"Thank you ya"</h4>
        <h5 class="font-semibold">-Ridho</h5>
      </div>
    </div>
  </section>

  <!-- Name This Section-->
  <section class="relative flex pt-10 justify-center items-center text-center">
    <div class="w-full relative">
      <div class="text-center justify-center font-bold">
        <h2 class="text-3xl">MEET THE</h2>
        <p class="text-6xl">TEACHER</p>
      </div>
      <div class="bg-gray-200 pb-20 pt-20">
        <div class="flex justify-center items-center w-full top-9">
          <!-- <div class=""> -->
          <div class="max-w-5xl scrollbar-guru overflow-x-scroll grid grid-flow-col auto-cols-max pb-10 gap-[80px]">

            <% for(let i=0;i<guruData.length;i++){ %>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="<%- guruData[i].foto %>" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-xs mb-4"><%- guruData[i].nama %></h6>
              </div>
              <% } %>


          </div>
        </div>
        <h6 class="text-xl mt-20 font-semibold">"Terima kasih atas segala jasa-jasamu Pak/Bu."</h6>
      </div>
    </div>
    <!-- Jer tolong kotaknya di susun di tengah ya-->
    <!-- done bang -->
  </section>
  <!-- Name This End Section-->


  <!-- Name this section -->
  <section class="relative flex pt-60 justify-center items-center text-center">
    <div class="w-full relative">
      <div class="text-center justify-center font-bold">
        <h2 class="text-3xl">MEET US!</h2>
        <p class="text-6xl">THE CHAMPIONS</p>
      </div>
      <div class="bg-gray-200 pb-20 pt-20">
        <div class="flex justify-center items-center w-full top-9">
          <div class="max-w-7xl ">

            <div class="flex justify-between mb-10">
              <h6>left</h6>
              <h6>Page 1 of 3</h6>
              <h6>right</h6>
            </div>
            <div class="grid grid-cols-5 gap-10 justify-between">


              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>
              <div
                class="before:border before:absolute before:border-gray-900 before:w-full before:h-full before:left-2 before:top-1 relative bg-white block w-[155px]">
                <div class="h-[200px]">
                  <img src="server\public\imgs\Bu Nafa.jpg" class="w-full h-full" />
                </div>
                <p class="italic text-sm mt-4">Guru Mapel</p>
                <h6 class="font-semibold text-sm mb-4">Taslimatul A.F, M.Ko</h6>
              </div>

            </div>
            <div class="flex justify-between mt-10">
              <h6>left</h6>
              <h6>Page 1 of 3</h6>
              <h6>right</h6>
            </div>
          </div>
        </div>

        <h6 class="text-xl mt-20 font-semibold">"We're stronger when we become one."</h6>
      </div>
    </div>
  </section>
  <!-- Name this end section -->

  <!-- Our moments section -->
  <section class="relative pt-60 justify-center">
    <div class="w-full relative">
      <div class="text-center justify-center font-bold">
        <h2 class="text-3xl">TKJ B SPECIAL</h2>
        <p class="text-6xl">OUR MOMENTS</p>
      </div>
      <div class="bg-sky-900 mt-10 py-4 px-0">

      </div>
    </div>
  </section>
  <!-- End moments section -->

</body>

<style>
  .bg-dots {
    background-image: radial-gradient(#bebdbd 20%, white 20%);
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-size: 10px 10px;
  }

  .title-text {
    text-shadow: 1px -2px 0px rgb(152, 211, 238), 1px 2px 0px #7289da;
  }

  .scrollbar-guru::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  .scrollbar-guru::-webkit-scrollbar {
    height: 7px !important;
  }

  .scrollbar-guru::-webkit-scrollbar-thumb {
    background: #373039;
    border-radius: 10px;
  }

  .scrollbar-guru::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>

</html>