<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Data Siswa</title>
</head>

<body>
    <div class="container">
        <h1>Masukan Data Siswa</h1>
        <div>
            <img src="" height="200" />
            <input id="foto" onchange="imagePrivew()" name="foto" type="file" accept="image/*" />
        </div>
        <div>
            <input id="nama" name="nama" type="text" placeholder="Nama siswa" />
        </div>
        <div>
            <textarea id="quote" name="quote" placeholder="Quote"></textarea>
        </div>
        <div>
            <button id="submit">Add Data</button>
        </div>
    </div>
</body>
<script>
    let button = document.getElementById('submit');
    button.addEventListener('click', () => {
        let nama = document.getElementById('nama').value;
        let foto = document.querySelector('img').src;
        let quote = document.getElementById('quote').value;

        fetch('/upload-data', {
            method: "POST",
            body: JSON.stringify({
                foto,
                nama,
                quote
            }),
            headers: {
                "Content-type": "application/json"
            }
        }).then(r => {
            console.log(r.body)
        })
    });

    function imagePrivew() {
        let preview = document.querySelector('img');
        let file = document.querySelector('input[type=file]').files[0];
        let reader = new FileReader();

        reader.onloadend = function() {
            preview.src = reader.result;
        }
        if(file) {
            reader.readAsDataURL(file)
        } else {
            preview.src = '';
        }
    }
</script>
</html>